.App {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.study-logo {
  color: aqua;
  font-weight: 900;
  font-size: 42px;
  margin-bottom: 40px;
  margin-left: 40px;
}
.Home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.Activity {
  background-color: white;
}
